:root {
    --cyan-50        : rgb(236 254 255);
    --cyan-100    : rgb(207 250 254);
    --cyan-200    : rgb(165 243 252);
    --cyan-300    : rgb(103 232 249);
    --cyan-400    : rgb(34 211 238);
    --cyan-500    : rgb(6 182 212);
    --cyan-600    : rgb(8 145 178);
    --cyan-700    : rgb(14 116 144);
    --cyan-800    : rgb(21 94 117);
    --cyan-900    : rgb(22 78 99);
    --cyan-950    : rgb(8 51 68);
    --fuchsia-50    : rgb(253 244 255);
    --fuchsia-100    : rgb(250 232 255);
    --fuchsia-200    : rgb(245 208 254);
    --fuchsia-300    : rgb(240 171 252);
    --fuchsia-400    : rgb(232 121 249);
    --fuchsia-500    : rgb(217 70 239);
    --fuchsia-600    : rgb(192 38 211);
    --fuchsia-700    : rgb(162 28 175);
    --fuchsia-800    : rgb(134 25 143);
    --fuchsia-900    : rgb(112 26 117);
    --fuchsia-950    : rgb(74 4 78);
  }
  
.reviews-container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

}

.reviews-container > .wrapper {
    display: inline-block;
    animation: scrollReviews 20s linear infinite;
}

.reviews-container > div > div {
    display: inline-block;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: none;
    z-index: 0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

}

.reviews-container > div > div:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 5px 5px black;
    z-index: 10;

}

/* Define the animation */
@keyframes scrollReviews {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--cyan-600);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--cyan-400);
  }

  @font-face {
    font-family: "Thunder";
    src: url(fonts/Thunder-BoldLC.ttf);
  }
  @font-face {
    font-family: "Helvetica";
    src: url(fonts/Helvetica-Bold.ttf);
  }

  h1 {
    font-family: "Thunder";
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  h2 {
    font-family: "Thunder";
    text-transform: uppercase;
    letter-spacing: 3px;
  }